@import "./utils/palette.css"; 
/* ======================================== */
/* CHECKBOX SIMPLE */
/* ======================================== */
body.simple input[type="checkbox"],
section.simple input[type="checkbox"],
input[type="checkbox"].simple {
    position: absolute;
    opacity: 0;
    padding: 2px;
}

body.simple input[type="checkbox"] + label,
section.simple input[type="checkbox"] + label,
input[type="checkbox"].simple + label {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 2rem;
    position: relative;
    cursor: pointer;
    padding: 0;
}

body.simple input[type="checkbox"] + label:before ,
section.simple input[type="checkbox"] + label:before ,
input[type="checkbox"].simple + label:before {
    content: '';
    margin-left : 0.1em;
    margin-top: -0.1em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: var(--color-gray-lighter);
    border: 1px solid var(--color-gray-light);
    transition: background-color 250ms ease;
}

body.simple input[type="checkbox"]:hover + label:before,
section.simple input[type="checkbox"]:hover + label:before,
input[type="checkbox"].simple:hover + label:before {
    background: var(--color-primary-lightest);
}

body.simple input[type="checkbox"]:focus + label:before,
section.simple input[type="checkbox"]:focus + label:before,
input[type="checkbox"].simple:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

body.simple input[type="checkbox"]:checked + label:before,
section.simple input[type="checkbox"]:checked + label:before,
input[type="checkbox"].simple:checked + label:before {
    background: var(--color-primary-normal);
}

body.simple input[type="checkbox"]:disabled + label,
section.simple input[type="checkbox"]:disabled + label,
input[type="checkbox"].simple:disabled + label {
    color: var(--color-gray-light);
    cursor: auto;
}

body.simple input[type="checkbox"]:disabled + label:before,
section.simple input[type="checkbox"]:disabled + label:before,
input[type="checkbox"].simple:disabled + label:before {
    box-shadow: none;
    background: var(--color-gray-lighter);
}

body.simple input[type="checkbox"]:checked + label:after,
section.simple input[type="checkbox"]:checked + label:after,
input[type="checkbox"].simple:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 8px;
    background: var(--color-gray-white);
    width: 3px;
    height: 3px;
    box-shadow: 2px 0 0 var(--color-gray-white), 4px 0 0 var(--color-gray-white), 4px -2px 0 var(--color-gray-white), 4px -4px 0 var(--color-gray-white), 4px -6px 0 var(--color-gray-white), 4px -8px 0 var(--color-gray-white);
    transform: rotate(45deg);
}