@import "./utils/palette.css"; 
/* ======================================== */
/* RADIO SIMPLE                            */
/* ======================================== */

input.simple[type="radio"] {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: absolute;
  opacity: 0;
}
input.simple[type="radio"] + label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 2rem;
}
input.simple[type="radio"] + label:before {
  content: '';
  background: var(--color-gray-lightest);
  border-radius: 100%;
  border: 1px solid var(--color-gray-light);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0.2em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
input.simple[type="radio"]:hover + label:before {
  background-color: var(--color-primary-lightest);
}
input.simple[type="radio"]:checked + label:before {
  background-color: var(--color-primary-normal);
  box-shadow: inset 0 0 0 4px var(--color-gray-lighter);
}
input.simple[type="radio"]:focus + label:before {
  outline: none;
  border-color: var(--color-primary-normal);
}
input.simple[type="radio"]:disabled + label:before {
  box-shadow: inset 0 0 0 4px var(--color-gray-light);
  border-color: var(--color-gray-normal);
  background: var(--color-gray-light);
}
input.simple[type="radio"] + label:empty:before {
  margin-right: 0;
}
