@import "./utils/palette.css"; 
/* ======================================== */
/* SELECT SIMPLE                            */
/* ======================================== */
body.simple select,
section.simple select,
select.simple {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0.3em 0.8em;
  height: 2em;
  margin: 8px 0.8em 8px 0;
  min-width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-gray-white);
  display: inline-block;
  border: 1px solid var(--color-gray-light);
  box-shadow: inset 0 1px 3px var(--color-gray-lighter);
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 250ms ease;
}

body.simple select:hover,
section.simple select:hover,
select.simple:hover,
body.simple select:focus,
section.simple select:focus,
select.simple:focus {
  outline: 0;
  border-color: var(--color-primary-normal);
}

body.simple select[disabled],
section.simple select[disabled],
select.simple[disabled] {
  cursor: not-allowed;
  background-color: var(--color-gray-light);
  color: var(--color-gray-lighter);
}

body.simple select[readonly],
section.simple select[readonly],
select.simple[readonly] {
  background-color: var(--color-gray-lighter); /* menu hover bg color */
  color: var(--color-gray-dark); /* menu text color */
  border-color: var(--color-gray-light);
}

body.simple select:focus:invalid[readonly],
section.simple select:focus:invalid[readonly],
select.simple:focus:invalid {
  color: var(--color-secondary-dark);
  border-color: var(--color-secondary-normal);
}

body.simple select[multiple],
section.simple select[multiple],
select.simple[multiple] {
  height: auto;
}
/* ======================================== */