html {
  --color-primary-dark: #21A6FC;
  --color-primary-normal: #44A6FC;
  --color-primary-light: #4DB9FF;
  --color-primary-lighter: #C2DAFF;
  --color-primary-lightest: #F0F3FF;

  --color-secondary-dark: #B94A48;
  --color-secondary-normal: #FF5014;
  --color-secondary-light: #FF7342;
  --color-secondary-lighter: #FFB59C;

  --color-ternary-dark: #FFC214;
  --color-ternary-normal: #FFD96D;
  --color-ternary-light: #FFE59C;
  --color-ternary-lighter: #FFF6DB;

  --color-quaternary-dark: #353FFC;
  --color-quaternary-normal: #8288FF;
  --color-quaternary-light: #AAAEFF;
  --color-quaternary-lighter: #E0E2FF;

  --color-gray-black: black;
  --color-gray-darker: #2C3333;
  --color-gray-dark: #7F8C8D;
  --color-gray-normal: #95A5A6;
  --color-gray-light: #CCCCCC;
  --color-gray-lighter: #EEEEEE;
  --color-gray-lightest: #F0F0F0;
  --color-gray-white: white;
}

.pal-1 {
  color: #44A6FC; /* Primary */
  color: #76c8ff; /* Secondary */
  color: #ffc774; /* Warn */
  color: #ff7e70; /* Danger */
}

/* Flats */
.pal-2 {
  color: #1ABC9C; /* Turquoise */
  color: #16A085; /* Green Sea */
  color: #2ECC71; /* Emerald */
  color: #27AE60; /* Nephritis */
  color: #3498DB; /* Peter River */
  color: #2980B9; /* Belize Hole */
  color: #9B59B6; /* Amethyst */
  color: #8E44AD; /* Wisteria */
  color: #34495E; /* Wet Asphalt */
  color: #2C3E50; /* Midnight Blue */
  color: #F1C40F; /* Sun Flower */
  color: #F39C12; /* Orange */
  color: #E67E22; /* Carrot */
  color: #D35400; /* Pumpkin */
  color: #E74C3C; /* Alizarin */
  color: #C0392B; /* Pomegranate */
  color: #ECF0F1; /* Clouds */
  color: #BDC3C7; /* Silver */
  color: #95A5A6; /* Concrete */
  color: #7F8C8D; /* Asbestos */

  color: #2F3640; /* Blue Nights */
  color: #4B4B4B; /* Shadowed Steel */
  color: #1E824C; /* Salem */
  color: #2f3640; /* Electromagnetic */
  color: #009432; /* Pixelated Grass */
  color: #8779; /* Taupe */
}
